
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root{

  --main-color:hsla(231, 35%, 50%, 1);
  --sec-color:hsla(170, 46%, 53%, 1);

  --light-font:hsla(231, 35%, 50%, 1);

}


body{
  direction: rtl;
  font-family: 'Cairo', sans-serif;


}
#root{
  overflow: hidden;
}


ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px){
  .container{
    width: 1320px;

  }
}